<header id="header" hidden>
  <div id="site-logo">
    <span>auxilium</span>
    <ul>
      <li><a href=""{{action 'home'}}>home</a></li>
      <li><a href="#">members</a></li>
      <li><a href=""{{action 'about'}}>about</a></li>
    </ul>
  </div>
</header>

{{outlet}}

<footer hidden>FOOTER</footer>
