{{outlet}}
<div id="about-content" class="content">
  <div class="center-text">
    About Us
  </div>
</div>

<div class="content content-blank">
  <div class="center-text">
    Information about the guild AUXILIUM and its activities.
  </div>
</div>
