{{outlet}}

<div id="content" class="content">
  <div class="center-text">
    <p>The Fellowship<br />of<br />the purple pants</p>
    <button>BUTTON</button>
  </div>
</div>

<div class="content content-blank">
  <div class="center-text">Centered</div>
</div>

<div id="content3" class="content">
  <div class="center-text">Centered</div>
</div>
