{{outlet}}

<div id="content" class="content">
  <div class="center-text">
    <p>The Fellowship<br />of<br />the purple pants</p>
  </div>
</div>

<div class="content content-blank">
  <div class="center-text"></div>
</div>
<div class="content content-blank">
  <div class="center-text"></div>
</div>
<div class="content content-blank">
  <div class="center-text"></div>
</div>
<div class="content content-blank">
  <div class="center-text"></div>
</div>
